:root {
    --background: #13213F ;
    --card-bg: #17284F ;
    --accent-bg: #26417E ;
}

.background {
    background-color: var(--background);
}
.card-bg {
    background-color: var(--card-bg);
}
.accent-bg {
    background-color: var(--accent-bg);
}

.post-cont {
    max-height: 280px;
}

.post-image {
    object-fit: cover;
    object-position: center;
    max-height: 280px;
    width: 100%;
}

.post-vid {
    object-fit: cover;
    object-position: center;
    max-height: 280px;
    width: 100%;
}



@media (min-width: 640px) {

    .navs {
        flex:2;
    }
    .main-section {
        flex: 8;
    }
}

